/* Vars */
:root {
    /* Colors */
    --white: #ffffff;
    --cream: #d9dcd6;
    --cyan: #2589bd;
    --light-blue: #0072bb;
    --dark-blue: #2a607c;
    
    /* Typography */
    --trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --gill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* Padding */
    --pad-0: 10px;
    --pad: 20px;
    --pad-2: 25px;
    --pad-3: 30px;
}

/* -- Global styles -- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cream);
}

a {
    color: var(--white);
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* -- Helpers -- */

.float-left {
    float: left;
    margin-right: var(--pad-2);
}

.float-right {
    float: right;
    margin-left: var(--pad-2);
}

/* -- Header -- */

header {
    padding: var(--pad);
    font-family: var(--trebuchet);
    background-color: var(--dark-blue);
    color: var(--white);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: var(--cream);
}

/* -- Header | Navigation -- */

header nav {
    padding-top: 15px;
    margin-right: var(--pad);
    float: right;
    font-family: var(--gill);
    font-size: var(--pad);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: var(--pad-2);
}

/* -- Hero section -- */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: var(--pad-2);
    background-image: url('../images/digital-marketing-meeting.jpg');
    background-size: cover;
    background-position: center;
}

/* -- Content section -- */

.content {
    width: 75%;
    display: inline-block;
    margin-left: var(--pad);
}

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: var(--pad);
    padding: 50px;
    height: 300px;
    font-family: var(--gill);
    background-color: var(--light-blue);
    color: var(--white);
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: var(--pad);
    font-size: 36px;
}

/* -- Content section END -- */

/* -- Benefits section -- */

.benefits {
    margin-right: var(--pad);
    padding: var(--pad);
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--gill);
    background-color: var(--cyan);
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: var(--white);
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: var(--pad-0);
    text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: var(--pad-0) auto;
    max-width: 150px;
}

/* -- Benefits section END -- */

/* -- Footer section -- */

footer {
    padding: var(--pad-3);
    clear: both;
    font-family: var(--trebuchet);
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
